header {
    max-height: 15vh;
}

footer {
    max-height: 15vh
}

main {
    max-height: 70vh;
}

.game-board {
    display: grid;
    grid-column-gap: 2vmin;
    grid-row-gap: 2vmin;
    max-height: 70vmin;
    max-width: 70vmin;
    margin: 10px auto;
}

.grid-size-4 {
    grid-template-columns: repeat(4, 1fr);
    .material-icons {
        font-size: 10vmin;
    }
}

.grid-size-6 {
    grid-template-columns: repeat(6, 1fr);
    .material-icons {
        font-size: 8vmin;
    }
}

.grid-size-8 {
    grid-template-columns: repeat(8, 1fr);
    .material-icons {
        font-size: 6vmin;
    }
}

.material-icons {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: purple;
    border: 3px solid #000;
    border-radius: 10px;
    position: relative;
    padding-top: 100%;
}

.flipped {
    border: 10px solid green;
}

.found {
    background-color: gray;
    border: 3px solid gray;
}

.hidden {
    display: none;
}