header {
    max-height: 30vh;
    width: 70vmin;
    margin: 0 auto;
    padding: 5vh;
    overflow: hidden;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
}

.header-container {
    display: flex;
    justify-content: space-between;
}

.header-container.stacked {
    flex-direction: column;
    align-items: center;
}

main {
    max-height: 70vh;
}

.game-board {
    display: grid;
    height: 70vmin;
    width: 70vmin;
    margin: 0 auto;
}

.grid-size-4 {
    grid-column-gap: 1.63vmin;
    grid-row-gap: 1.63vmin;
    grid-template-columns: 16.3vmin 16.3vmin 16.3vmin 16.3vmin;
    grid-template-rows: 16.3vmin 16.3vmin 16.3vmin 16.3vmin;
    .material-icons {
        font-size: 10vmin;
    }
}

.grid-size-6 {
    grid-column-gap: 1.07vmin;
    grid-row-gap: 1.07vmin;
    grid-template-columns: 10.7vmin 10.7vmin 10.7vmin 10.7vmin 10.7vmin 10.7vmin;
    grid-template-rows: 10.7vmin 10.7vmin 10.7vmin 10.7vmin 10.7vmin 10.7vmin;
    .material-icons {
        font-size: 8vmin;
    }
}

.grid-size-8 {
    grid-column-gap: .80vmin;
    grid-row-gap: .80vmin;
    grid-template-columns: 8vmin 8vmin 8vmin 8vmin 8vmin 8vmin 8vmin 8vmin;
    grid-template-rows: 8vmin 8vmin 8vmin 8vmin 8vmin 8vmin 8vmin 8vmin;
    .material-icons {
        font-size: 6vmin;
    }
}

.material-icons {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #000;
    border-radius: 10px;
    position: relative;
    margin: 0;
}

// .flipped {
//     border: 10px solid green;
// }
.found {
    background-color: gray;
    border: 3px solid gray;
}

.hidden {
    display: none;
}

#star-rating {
    position: relative;
    height: 3rem;
    width: 24rem;
    display: flex;
    .empty-stars,
    .filled-stars {
        width: 100%;
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 0;
        .material-icons {
            position: relative;
            color: #000;
            font-size: 3rem;
        }
    }
    .filled-stars>.material-icons {
        color: yellow;
    }
    .filled-stars>.material-icons.unfilled {
        color: #FFF;
    }
}

// Card Flip Effect
.card-container {
    width: 100%;
    height: 100%;
    perspective: 600px;
}

.card {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.card-side {
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
}

.card-front {
    transform: rotateY(180deg);
}

.flipped {
    transform: rotateY(180deg);
}