<div class="card-container">
    <div class="card" data-card="{{this.cardIcon}}" data-clickable>
        <div class="card-side card-back blue darken-3">
            <i class="material-icons">help</i>
        </div>
        <div class="card-side card-front blue lighten-1">
            <i class="material-icons">{{this.cardIcon}}</i>
        </div>
    </div>
</div>